<strong>Olá {{ deliveryman }}</strong>
<p>Você tem um novo atendimento disponível</p>
<p>Confira os detalhes abaixo:</p>
<p>
	<strong>Serviço: </strong> {{ product }} <br />
	<strong>Destinatário: </strong> {{ recipient }} <br />
	<br />
	<strong>Endereço:</strong> <br />
		<strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
		<strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
		<strong>CEP: </strong> {{ zip_code }}
</p>
<p>
	<small>
		Obs.: Observações necessárias... .
	</small>
</p>
